@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/* parent */

.logo-blk {
  position: relative;
  top: 10px;
  height: 39;
  width: 158;
}
/* child */
.logo-wht {
  display: none;
  height: 39;
  width: 158;
}

main {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

nav {
  background-color: transparent;
}

.nav-wrapper {
  width: 100vw;
  z-index: 1;
}

.header-img {
  max-width: 100%;
}

.header-img > img {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.carousel-img {
  border-radius: 50%;
  border: 3px solid black;
  height: 200px;
}

.carousel {
  text-align: center;
  font-size: small;
  color: black;
  width: 100%;
  height: 330px !important;
}

.rec-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 100;
}

.rec-cat-cont {
  display: grid;
  grid-template-rows: 1fr 0.175fr 0.175fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.rec-cat-cont > img {
  grid-column: 1 / 3;
  display: flex;
  border-radius: 25px;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.rec-cat-cont > h6 {
  grid-column: 1 / 3;
  text-align: center;
}

.container {
  width: 100vw;
}

body {
  margin: 0;
  max-width: 100vw;
}

h4 {
  text-align: left;
  font-weight: 900;
  margin: 0 0 20px 0;
}

.main {
  margin: 20px;
}

i {
  font-size: 40px !important;
}

.author {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.center {
  align-items: center;
  justify-content: center;
  display: flex !important;
  flex-direction: row !important;
}

.center > div {
  padding: 10px;
  padding-top: 15px;
}

h3 {
  margin-top: 10px;
  text-align: center;
}

h5 {
  font-weight: 500;
  margin-left: 20px;
}

.summary {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: 300;
  color: grey;
}

.summary > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sum-value {
  font-size: x-large;
  color: black;
}

.time {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.servings {
  border-right: 2px solid black;
}

.anchor-links {
  margin: 20px;
  margin-top: 40px;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  font-weight: 300;
}

.anchor-links > .anch-link > div {
  border: 2px solid black;
  border-radius: 25px;
  color: black;
}

.anch-link {
  color: black;
}

.anch-link:visited {
  color: black;
}

.anch-link:hover {
  color: white;
}

.anchor-links > .anch-link > div:hover {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  background-color: black;
}

.nutrition-container {
  margin: 25px;
  text-align: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: 300;
}

.nutrition-content {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  padding: 33px 0;
  background-color: lightgrey;
}

.instructions {
  margin-left: 20px;
  margin-right: 20px;
}

.instructions > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
  font-weight: 100;
}

.ingredients-list {
  margin: 0px 0px 0px 20px;
  font-size: 20px;
  font-weight: 100;
}

i.material-icons.grey-text {
  font-size: 26px !important;
}

.i-name {
  font-style: italic;
}

.sim-ing {
  color: white;
  font-size: large;
  font-weight: 200;
  margin: 30px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4a7ba1;
  border: 1px solid white;
  border-radius: 50px;
}

.feature-recipe-link {
  text-align: center;
  margin: 20px;
  margin-bottom: 70px;
  padding: 10px;
  background-color: rgb(211, 211, 211, 0.5);
}

h2 {
  margin-top: 5px;
  font-weight: 500;
}

.feature-recipe-link > h5 {
  text-decoration: underline;
  text-decoration-color: #aa381e;
  text-decoration-thickness: 4px;
}

.rec-cat > a {
  color: black;
}

.info {
  text-align: center;
}

.key {
  font-weight: 500;
}

h6 {
  font-weight: 600;
}

a {
  color: black;
}

.brush-underline > img {
  display: flex;
  align-items: center;
  position: relative;
  top: -20px;
  width: 160px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #4a7ba1;
}

.btn {
  background-color: #4a7ba1;
  border-radius: 15px;
}

.btn:hover {
  background-color: #37678c;
}

h4 > .cust-text {
  color: #aa381e;
}

#black-icon {
  font-size: medium;
  color: black;
}

#white-icon {
  display: none;
  color: black;
}

@media only screen and (max-width: 650px) {
  .nutrition-content {
    height: 90px;
    width: 90px;
    border-radius: 45px;
    padding: 15px 0;
  }
  i {
    font-size: 24px !important;
  }
  .cal-icon {
    height: 24px;
    width: 24px;
  }
  h4 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  .logo > img {
    height: 50%;
  }
  .carousel-item {
    height: 100px !important;
    width: 100px !important;
  }
  .carousel {
    max-height: 240px;
    max-width: 100vw;
  }
  .brush-underline > img {
    width: 90px;
  }
  .brush-underline-long > img {
    width: 160px;
  }
}

@media only screen and (min-width: 1200px) {
  .header-img > img {
    border-radius: 50px;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .header-img {
    top: 0px;
    margin: 30px;
  }
  .main-alt {
    top: 0px;
  }
  .sidenav {
    transform: translateX(0%);
    position: fixed;
    width: 30vw;
    max-width: 250px;
  }

  nav a.sidenav-trigger {
    display: none;
  }

  .all {
    margin-left: 250px;
  }
  nav {
    background-color: transparent !important;
    box-shadow: none;
  }
  .nav-wrapper {
    background-image: none;
    background-color: transparent !important;
  }
  #black-icon {
    display: block;
  }
  #white-icon {
    display: none;
  }
}
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display: flex;
  }
}

.brush_underline {
  visibility: hidden;
  position: relative;
}
.brush-underline:hover {
  visibility: visible;
}
.style2 {
  visibility: visible;
}
