{% extends 'base.html'%} {% block content %}
<div class="header-img" style="position: relative; top: -65px">
  <img src="{{ recipe.image_url }}" />
</div>

<div class="main">
  <div class="author">Author</div>
  <div class="center">
    <div>
      <a href=""><i class="material-icons grey-text">date_range</i></a>
    </div>
    <div>
      <a href=""><i class="material-icons grey-text">favorite</i></a>
    </div>
    <div>
      <a href=""><i class="material-icons grey-text">share</i></a>
    </div>
  </div>

  <h3>{{ recipe.name }}</h3>
</div>

<div class="summary">
  <div class="reviews">
    <div><i class="material-icons black-text">star</i></div>
    <div class="sum-value">{{recipe.rating.count_positive}}</div>
    <div>Reviews</div>
  </div>
  <div class="time">
    <div><i class="material-icons black-text">access_time</i></div>
    <div class="sum-value">100 yrs</div>
    <div>Cook Time</div>
  </div>
  <div class="servings">
    <div><i class="material-icons black-text">local_dining</i></div>
    <div class="sum-value">{{ recipe.num_servings}}</div>
    <div>Servings</div>
  </div>
  <div class="calories">
    <div><i class="material-icons black-text">pregnant_woman</i></div>
    <div class="sum-value">{{ recipe.nutrition.calories }}</div>
    <div>Calories</div>
  </div>
</div>

<div class="anchor-links">
  <div><a href="">Directions</a></div>
  <div><a href="">Nutrition</a></div>
  <div><a href="">Reviews</a></div>
  <div><a href="">Photos</a></div>
</div>

{% endblock %}
