{% extends 'base.html'%} {% block content %} {% load static%}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link rel="stylesheet" href="{% static 'style2.css' %}" />
<div class="all">
  <div class="main">
    <h4>Your Saved Recipes</h4>

    <div class="rec-cat">
      {%for recipe in recipe_collection%}
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{% url 'recipe_detail' recipe.id %}"
            ><img src="{{recipe.image_url}}" /></a
          ><a
            href="{% url 'delete_recipe' recipe.id %}"
            id="delete-but"
            class="btn-floating halfway-fab waves-effect waves-light red left"
            style="position: absolute; top: 15px"
            ><i class="material-icons">delete</i></a
          >
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >{{recipe.name}}<i class="material-icons right">more_vert</i></span
          >
          <p>
            Rating: {{recipe.rating.score|floatformat}} | {{recipe.time}} mins |
            {{recipe.num_servings}} servings
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{recipe.name}}<i class="material-icons right">close</i></span
          >
          <div class="centered">
            <div class="key">Cook Time</div>
            <div class="value">{{recipe.time}}min</div>
            <div class="key">Servings</div>
            <div class="value">{{ recipe.num_servings}}</div>
            <div class="key">Calories</div>
            <div class="value">{{ recipe.nutrition.calories}}</div>
            <div class="key">Protein</div>
            <div class="value">{{recipe.nutrition.protein}}</div>
            <div class="key">Carbs</div>
            <div class="value">{{recipe.nutrition.carbohydrates}}</div>
            <div class="key">Fat</div>
            <div class="value">{{recipe.nutrition.fat}}</div>
          </div>
        </div>
      </div>
      {%endfor%}
    </div>
    {% endblock %}
  </div>
</div>
