{% extends 'base.html'%} {% block content %} {% load static %}

<a href="{%url 'meal_plan_index'%}">All Meal Plans</a>
<br />
<div>
  {{meal_plan.title}}
  <a href="{% url 'meal_plan_edit' meal_plan.id %}">Edit</a>
  <a href="{% url 'meal_plan_delete' meal_plan.id %}">Delete</a>
</div>
<h4>(Recipes for this meal plan)</h4>
<div class="rec-cat">
  {%for recipe in recipe_collection%}
  <a href="{% url 'recipe_detail' recipe.id%}"
    ><div class="rec-cat-cont">
      <img src="{{recipe.image_url}}" />
      <h6>{{ recipe.name }}</h6>
      <div class="info">
        <div class="key">Reviews:</div>
        <div class="value">{{recipe.rating.total_count}}</div>
      </div>
      <div class="info">
        <div class="key">Rating:</div>
        <div class="value">{{recipe.rating.score|floatformat}}</div>
      </div>
      {% if recipe.time == None%}
      <div class="info">
        <div class="key">Cook Time:</div>
        <div class="value">30-45min</div>
      </div>
      {% else %}
      <div class="info">
        <div class="key">Cook Time:</div>
        <div class="value">{{recipe.time}}min</div>
      </div>
      {% endif %}
      <div class="info">
        <div class="key">Servings:</div>
        <div class="value">{{ recipe.num_servings}}</div>
      </div>
    </div></a
  >
  {%endfor%}
</div>
{% endblock %}
