{% extends 'base.html'%} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'style2.css' %}" />
<div class="all">
  <div class="main">
    <a href="{%url 'meal_plan_index'%}"><h6>All Meal Plans</h6></a>
    <br />
    <div>
      <h2>
        {{meal_plan.title}}

        <a href="{% url 'groceries_index' meal_plan.id %}" class="btn"
          >Groceries</a
        >
        <a
          href="{% url 'meal_plan_edit' meal_plan.id %}"
          class="btn waves-effect waves-custom waves-light"
          >Edit</a
        >
        <a
          href="{% url 'meal_plan_delete' meal_plan.id %}"
          class="btn waves-effect waves-custom waves-light"
          >Delete</a
        >
      </h2>
    </div>
    <div class="rec-cat">
      {% for recipe in recipe_collection %}
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{% url 'recipe_detail' recipe.id %}"
            ><img src="{{recipe.image_url}}"
          /></a>
          <a
            href="{% url 'delete_recipe_from_meal_plan' recipe.id meal_plan.id %}"
            id="delete-but"
            class="btn-floating halfway-fab waves-effect waves-light red left"
            style="position: absolute; top: 15px"
            ><i class="material-icons">delete</i></a
          >
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"
            >{{recipe.name}}</span
          ><i class="material-icons activator right">more_vert</i>
          <p>
            Rating: {{recipe.rating.score|floatformat}} | {{recipe.time}} mins |
            {{recipe.num_servings}} servings
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >{{recipe.name}}<i class="material-icons right">close</i></span
          >
          <div class="centered">
            <div class="key">Cook Time</div>
            <div class="value">{{recipe.time}}min</div>
            <div class="key">Servings</div>
            <div class="value">{{ recipe.num_servings}}</div>
            <div class="key">Calories</div>
            <div class="value">{{ recipe.nutrition.calories}}</div>
            <div class="key">Protein</div>
            <div class="value">{{recipe.nutrition.protein}}</div>
            <div class="key">Carbs</div>
            <div class="value">{{recipe.nutrition.carbohydrates}}</div>
            <div class="key">Fat</div>
            <div class="value">{{recipe.nutrition.fat}}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
