{% extends 'base.html'%}{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'meal-plan.css' %}" />
<div class="cover"></div>
>
<div class="header-div">
</div>
<h5>All Meal Plans</h5>
<div class="button-container">
  <a class="button" href="{% url 'meal_plan_new' %}">Add New Meal Plan</a>
  {% for plan in meal_plans %}
</div>
<div class="brush-underline">
  <img src="{% static 'images/underline.png'%}" />
</div>
<br />
<div>
  <a href="{% url 'meal_plan_detail' plan.id %}"><div>{{plan.title}}</div></a>
  {% endfor %} {% endblock %}
</div>
