{% extends 'base.html'%} {% block content %}
<div class="header-img" style="position: relative; top: -65px">
  <img src="https://i.imgur.com/btbBlMF.jpeg" />
</div>
<div class="main">
  <div class="carousel">
    <div class="brush-underline">
      <h4>EXPLORE</h4>

    </div>
    <a class="carousel-item" href="#one!"
      ><img class="carousel-img" src="https://i.imgur.com/b6jR7Ls.jpeg" />
      <div class="carousel-text black-text">THANKSGIVING</div></a
    >
    <a class="carousel-item" href="#two!"
      ><img class="carousel-img" src="https://i.imgur.com/dMwHmTW.jpeg" />
      <div class="carousel-text black-text">KID-FRIENDLY</div></a
    >
    <a class="carousel-item" href="#three!"
      ><img class="carousel-img" src="https://i.imgur.com/UGsFmOg.jpeg" />
      <div class="carousel-text black-text">DESSERTS</div></a
    >
    <a class="carousel-item" href="#four!"
      ><img class="carousel-img" src="https://i.imgur.com/yy7DeBK.jpeg" />
      <div class="carousel-text black-text">VEGETARIAN</div></a
    >
    <a class="carousel-item" href="#five!"
      ><img class="carousel-img" src="https://i.imgur.com/e9yNPjx.jpeg" />
      <div class="carousel-text black-text">CHRISTMAS</div></a
    >
  </div>
  <h4>FALL PRODUCE RECIPES</h4>
  <div class="rec-cat">
    <div class="rec-cat-cont">
      <img src="https://i.imgur.com/dMwHmTW.jpeg" alt="" />
    </div>
    <div class="rec-cat-cont">
      <img src="https://i.imgur.com/yy7DeBK.jpeg" alt="" />
    </div>
  </div>
  <h4>COZY COCKTAILS</h4>
  <div class="rec-cat">
    <div class="rec-cat-cont">
      <img src="https://i.imgur.com/dMwHmTW.jpeg" alt="" />
    </div>
    <div class="rec-cat-cont">
      <img src="https://i.imgur.com/yy7DeBK.jpeg" alt="" />
    </div>
  </div>
</div>
{% endblock %}
